dist/
node_modules/

.env*

docs

Agents.md
Tasks.md
Plan.md
.codexignore

# Prisma
/prisma/*.db
/prisma/*.db-journal
apps/main-gateway-service/prisma/generated/
apps/micro-post-service/prisma/generated/
apps/micro-file-service/prisma/generated/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo

.vscode/
.idea/

docker-data/
minio-data/
postgres-data/
